:root {
  --primary-color: #4a90e2;
  --secondary-color: #50e3c2;
  --text-color: #202020;
  --font-family: sans-serif;

  --border-color: #A4A8B0;
  --danger-color: #B71420;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
}